/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb; /*выделенные абзацы*/
  --title-color: #ffc2e6; /*заголовки*/
  --text-color: #353430; /*цвет текста основного*/
  --focus-color: #32312d; /*интерактив*/
  --page-bg-color: #353430; /* фон*/
  --footer-shadow: #ff0070;

  .header__theme-menu-item {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .decorative-element {
    display: none;
  }

  .title-decor {
    color: var(--text-color);
  }

  .decorated-zone::before {
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
  }

  /*Состояния кнопок*/

  .header__theme-menu-button_active {
    /*pointer-events: none;*/
    border: 1px solid var(--text-color);
  }

  .header__theme-menu-button:focus {
    border: none;
    border-bottom: 1px solid var(--focus-color);
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    border-bottom: 1px solid var(--focus-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--footer-shadow);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb; /*выделенные абзацы*/
    --title-color: #ffc2e6; /*заголовки*/
    --text-color: #353430; /*цвет текста основного*/
    --focus-color: #ff007066; /*интерактив*/
    --page-bg-color: #353430; /* фон*/
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .decorative-element {
    display: none;
  }

  .title-decor {
    color: --text-color;
  }
  .decorated-zone::before {
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
  .decorated-zone::after {
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
  }

  .section__title {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    /*pointer-events: none;*/
    border: 1px solid var(--text-color);
  }

  .header__theme-menu-button:focus {
    border: none;
    border-bottom: 1px solid var(--focus-color);
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    border-bottom: 1px solid var(--focus-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--footer-shadow);
  }
}
