.page {
  background: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--basic-font), sans-serif;
}

/*ШАПКА*/

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  align-items: center;
  margin-bottom: 40px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item {
  color: var(--accent-color);
  display: grid;
  font-size: 18px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  all: unset;
  display: block;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5px 13px;
  color: var(--accent-color);
}

/*Состояния кнопок*/
.header__theme-menu-button_active {
  /*pointer-events: none;*/
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--focus-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--focus-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--focus-color);
}

/*Заголовок*/

.header__title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 0.83;
}

.title-decor {
  color: var(--page-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

/*Параграф*/

.header__subtitle {
  justify-self: end;
}

/*Rес*/

.decorative-element {
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  justify-self: end;
  align-self: start;
  padding-right: 6px;
}

.decorative-element::after {
  content: "";
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 2px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/*Уголки*/

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  align-self: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  align-self: start;
  justify-self: end;
}

/* СЕКЦИИ С КОНТЕНТОМ */

.content {
  margin-left: 10px;
  margin-right: 10px;
}

.section__title {
  color: var(--accent-color);
  font-size: 18px;
}

.article__section {
  display: grid;
  gap: 10px;
  line-height: 23.4px;
  grid-template-rows: min-content 1fr;
}

.article-list {
  display: grid;
  gap: 20px;
  font-size: 18px;
}

.subtitle-decor {
  color: var(--page-bg-color);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
}

/* первая */

.section__why {
  margin-top: 40px;
  display: grid;
  gap: 20px;
}

.text-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

/* вторая */

.section__what {
  margin-top: 50px;
  display: grid;
  gap: 20px;
}

/* третья */

.section__how {
  margin-top: 50px;
  display: grid;
  gap: 20px;
}

.paragraph {
  color: var(--text-color);
}

.article-list__how {
  display: grid;
  gap: 20px;
  font-size: 18px;
}

/* СЕКЦИЯ С КАРТИНКАМИ */

.section__pictures {
  margin-top: 50px;
}

.title-pikture {
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.picture {
  object-fit: cover;
  inline-size: 100%;
}

/* ПОДВАЛ */

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  padding: 10px;
  margin-top: 40px;
}

/*Заголовок*/

.footer__title {
  padding: 10px;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width >= 768px) {
  /*ШАПКА*/

  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    width: 50%;
    justify-self: end;
  }

  /*КОНТЕНТ*/

  .content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .title-pikture {
    margin-bottom: 20px;
  }

  /*Первая*/

  .section__why {
    margin-top: 60px;
    grid-template-columns: 1fr 2fr;
  }

  /*Вторая*/

  .section__what {
    margin-top: 80px;
  }

  .title-what {
    width: 25%;
  }

  /*Третья*/

  .section__how {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
  }

  .title-how {
    flex: 1;
  }

  .list__how {
    flex: 2;
  }

  /*Картинки*/

  .section__pictures {
    margin-top: 80px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape   books  ice-cream"
      "tape   street street";
    gap: 20px;
  }

  .picture-sunset {
    grid-area: sunset;
  }

  .picture-ice-cream {
    grid-area: ice-cream;
  }

  .picture-tape {
    grid-area: tape;
  }

  .picture-books {
    grid-area: books;
  }

  .picture-street {
    grid-area: street;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /*ПОДВАЛ*/

  .footer {
    padding: 20px;
    margin-top: 60px;
  }
}

@media (min-width >= 1024px) {
  /*Меню*/
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  /*Первая*/

  .section__why {
    gap: 10px;
  }

  /*Вторая*/

  .list-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*Третья*/

  .section__how {
    gap: 10px;
  }

  .title-what {
    width: 33%;
  }

  /*ПОДВАЛ*/

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
