/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {


--page-bg-color: #000028; /* фон*/
--accent-color: #FF0070; /* выделенные абзацы*/
--title-color: #DB00FF; /* заголовки*/
--text-color : #F1B2CE; /* цвет текста основного*/
--focus-color: #FF007066; /* интерактив*/


--basic-font: IBM Plex Mono;
}